
@media (max-width: 767px) {
  header {
    background-image: url('https://lh4.googleusercontent.com/Wzz7aOzy6cihEKprAK2qwN9DRbS8UWkbP_phmV4zw-59f04IVL7X8nY7grIDU5uXXA9Jm0Aa9Mdk0Ug5N8HH1bA=w16383');
    background-position: center; 
    background-size: 100% auto; 
    background-repeat: no-repeat; 
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center; 
  }

  .hasiera {
    text-align: center; /* Centra el texto verticalmente */
    color: white;
  }

  .text {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra horizontalmente */
    flex-direction: column; /* Cambia la dirección de la disposición a columna */
  }

  .argazkia {
    width: 350px; 
    height: auto;
    margin: 20px; 
  }
}
